/* .css-13cymwt-control {
    min-height: 45px !important;
}
*/
.css-t3ipsp-control {
    border: '1px solid #F5F8FA';
}
.css-1bpqr0t-control{
    border: '1px solid #F5F8FA' !important;
}

.container {
    margin-left: 10px !important;
    min-width: 100% !important;
}
.post {
    padding-right: 30px !important;
}